html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "futura";
    font-weight: 400;
}

h1 {
    font-size: 70px;
}

#tutorial {
    font-size: 7rem;
    margin-bottom: 1rem;
}

.chapter {
    margin: 4.7rem 0;
}

.chapter:last-of-type {
    margin-bottom: 200px;
}

a {
    color: #85ae9b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

html {
    font-size: 62.5%;
    color: #323338;
}
body {
    font-size: 1.8rem;
}

p {
    line-height: 1.5em;
    margin: .5em 0;
}

* {
    box-sizing: border-box;
}

ul.decorated {
    padding-left: 18px;
}
ul.decorated li {
    margin: 1em 0;
    padding-left: 12px;
}

ul.decorated li a {
    font-style: italic;
}

article {
    margin: 1.5em 0;
}

main.content header {
    margin-bottom: .5rem;
    margin-top: 5.5rem;
}

h1 {
    margin-top: 0;
}

p.ingress {
    font-size: 2.8rem;
}

footer,
.main-header {
    background: #2c2c2e;
    color: #fff;
}

.main-header {
    margin-bottom: 65px;
}

.main-header .content {
    position: relative;
}

h2 {
    padding: 0;
    margin: 0 !important;
}

.wrapper {
    font-family: sans-serif;
    background: #f4f4f4;
    color: #000;
}

.floating-nav {
    position: fixed;
    background: white;
    top: 1em;
    left: 0;
    padding: .5em;
    box-shadow: 0 0 7px #ccc;
    font-size: .8em;
    display: none;
}

.sitenav {
    position: absolute;
    top: 0;
    right: 0;
}
.sitenav ul,
.sitenav ul li {
    display: inline-block;
    margin: 0;
}

.sitenav,
.sitenav ul,
.sitenav ul li {
    height: 100%;
}

.sitenav ul li a {
    color: #cecece;
    font-size: 1.6rem;
    line-height: 60px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 1.5rem;
}
.sitenav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

pre code {
    display: block;
    width: 100%;
    padding: 1em;
    overflow-x: scroll;
    border-radius: 2px;
}

code {
    background: #ececec;
    color: #000;
    padding: 3px 8px;
}

.content{
    max-width: 880px;
    margin: auto;
}

footer .content {
    font-size: .8em;
    text-align: center;
    padding: 1em;
}

h2 {
    margin-top: 3em;
}

a.undecorated {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin: 0;
    height: 60px;
    padding: 0;
    font-family: "futura";
}

.logo a:hover {
    text-decoration: none !important;
}

.logo img {
    max-height: 100%;
    float: left;
    display: inline-block;
    width: 80px;
}

.logo p {
    line-height: 55px;
    font-size: 2rem;
    margin: 0;
}

.back-link {
    position: absolute;
    margin: 0;
    top: .5em;
    right: .5em;
}

/* Button styles, lazily copied from the main page */

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.primary-button {
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    margin: 0;
    transition: color .1s,background .1s;
    border-top: 1px solid #98bbab;
    color: #fff;
    background: #67c098;
    box-shadow: none;
    height: 4rem;
    font-size: 1.8rem;
    padding: 0 1.2rem;
    line-height: 1;
}

.primary-button:hover {
    background: #85ae9b;
    border-top: 1px solid #8eae9f;
}

.primary-button:hover:active {
    background: #6c9e87;
    border-top: 1px solid #6c9e87;
    box-shadow: none;
    line-height: 2.6em;
}

.primary-button:focus {
    outline: 0;
}

/* GIST */
.gist .file-data,
.gist .gist-file .line-data {
    background: #ececec;
}
