html, body {
    padding: 0;
    margin: 0;
}

body {
    counter-reset: section;
}

p {
    line-height: 1.3em;
    margin: .5em 0;   
}

* {
    box-sizing: border-box;
}

article {
    margin: 1.5em 0;   
}

section {
    padding: 0 2em;
}

.sticky {
    position: sticky;
    top: 0;
    background: hsla(0, 0%, 20%, .9);
    margin: 0;
    padding: .5em;
    border-bottom: 1px solid #444;
    
}
h1 {
    margin-top: 0;
    padding-left: .75em
}
h2 {
    padding: 0;
    margin: 0 !important;
}

h2:before {
    counter-increment: section;
    content: counter(section) " ";
    font-size: .5em;
    color: #aaa;
    margin-right: .5em
    
}

.wrapper {
    font-family: sans-serif;
    padding-bottom: 2em;
    background: #333;
    color: #fff;
}

.floating-nav {
    position: fixed;   
    background: white;
    top: 1em; 
    left: 0;
    padding: .5em;
    box-shadow: 0 0 7px #ccc;
    font-size: .8em;
    display: none;
}

pre code {
    display: block;
    width: 100%;
    padding: 1em;
    overflow-x: scroll;
    box-shadow: 0 0 5px #000 inset;
}

code {
    background: #373e47;
    color: yellow;
}

main, footer {
    max-width:750px;
    margin: auto;

}

footer {
    font-size: .8em;
    color: #666;
    text-align: center;
    margin: 1em auto;
}

h2 {
    margin-top: 3em;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.sticky {
  position: -webkit-sticky;
position:sticky;
}


.logo {
    margin: 0;
    height: 70px;
    padding: 0;

}

.logo img {
    max-height: 100%;
    float: left;
    display: inline-block;
    width: 80px;
}

.logo p {
    line-height: 70px;
    font-size: 1.2em;
    margin: 0;
}

.back-link {
    position: absolute;
    margin: 0;
    top: .5em;
    right: .5em;
}
