html,
body {
  background-color: rgb(241, 241, 241);
  font-family: Inter;
  line-height: 24px;
}

h1 {
  font-family: "Whereby Condensed", Georgia, serif;
  font-size: 80px;
  font-weight: normal;
  line-height: 90px;
}

h2 {
  font-family: "Whereby Text", Georgia, serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 46px;
  margin-top: 64px;
}

.block {
  display: block;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

td, th {
  padding: 0 10px 0 0;
  text-align: left;
}

code, .code {
  border: 1px solid #d4d4d4;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: bold;
  color: #444;
  background-color: #f7f7f7;
}
code.block {
  padding: 8px 16px;
}

code em {
  color: #a33;
}
