html,
body {
  background-color: rgb(241, 241, 241);
  font-family: Inter;
  line-height: 24px;
}

h1 {
  font-family: "Whereby Condensed", Georgia, serif;
  font-size: 80px;
  font-weight: normal;
  line-height: 90px;
}

h2 {
  font-family: "Whereby Text", Georgia, serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 46px;
  margin-top: 64px;
}

.block {
  display: block;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  display: flex;
  padding-bottom: 96px;
}

.internal {
  color: black;
}

nav {
  flex-grow: 1;
  margin-right: 24px;
  margin-top: 96px;
}

nav a {
  display: block;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  padding: 10px 20px;
  margin: 12px 0px;
}

nav a:target {
  color: #fff;
  border-radius: 8px;
  background-color: rgb(11, 84, 67);
}

th { text-align: left; }

code {
  border: 1px solid #d4d4d4;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: bold;
  color: #444;
  background-color: #f7f7f7;
}
code.block {
  padding: 8px 16px;
}

code em {
  color: #a33;
}
